<web-app>

<servlet>
<servlet-name>insert</servlet-name>
<servlet-class>com.employee.Insert</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>insert</servlet-name>
<url-pattern>/insert</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>display</servlet-name>
<servlet-class>com.employee.Display</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>display</servlet-name>
<url-pattern>/display</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>update</servlet-name>
<servlet-class>com.employee.Update</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>update</servlet-name>
<url-pattern>/update</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>delete</servlet-name>
<servlet-class>com.employee.Delete</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>delete</servlet-name>
<url-pattern>/delete</url-pattern>
</servlet-mapping>

</web-app>